@font-face {
  font-family: "myriadPro";
  src: url(http://www.anaveer.in/honda/font/MYRIADPRO-REGULAR.OTF);
 }
 
* {
  font-family: "myriadPro", Sans-Serif;
  outline: 0;
 }

.main-container{
  border-top: 5px solid #f5c85f;
  background-color: #FFF;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  height: calc(100vh - 457px);
  min-height: 400px;
 }

.vertical-separator {
  background: linear-gradient(to top, transparent, orange, transparent);
  margin: 100px 40px;
  width: 5px;
  height: 250px;
 }
 
.feature-container {
  background-color: #EEE;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding-top: 50px;
  padding-bottom: 20px;
  flex-wrap: wrap;
  position: relative;
 }

.feature-container::before { 
  content: " ";
  background-color: #FFF;
  background-repeat: repeat-x;
  background-image: url("triangle.png");
  height: 12px;
  width: 100%;
  top: 0;
  position: absolute;
  left: 0;
 }
 
.feature {
  text-align: center;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 300px;
 }

.feature-title {
  color: #111;
  font-size: 16px;
  padding-top: 10px;
 }

.feature-description {
  color: #999;
  font-size: 14px;
  font-weight: bold;
  padding-top: 5px;
  padding-bottom: 10px;
 }

.shadow-add {
  position: relative;
  box-shadow: 10px 5px 10px 10px rgba(0,0,0,0.2);
 }

.form-container {
  background-color: #f5c85f;
  display: flex;
  padding-top: 15px;
  padding-bottom: 20px;
  align-items: center;
  flex-direction: column;
 }
 
.footer-title {
  font-size: 16px;
  color: #EEE;
 }
 
.footer-box[type=text] {
  padding:5px 25px;
  color: #000;
  width: 250px;
  height: 30px;
  margin-top: 10px;  
  margin-bottom: 20px;  
  border-radius: 10px;
  border: none;
 }

input#footer-botton { 
  cursor: pointer; 
  background: #f5c85f; 
  border: 1px solid #EEE;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  color: #EEE;
  border-radius: 10px;
 }

input#footer-botton:hover {
  background: #EEE;
  color: #f5c85f
 }
