body {
    background-color: white;
}

.ejemplo{
    display: flex;
    justify-content: center;
	align-items:center;
	flex-direction: row;
}

.grad {
	background: linear-gradient(to top, transparent, orange, transparent);
	margin: 100px 40px 100px 40px;
	width: 5px;
	height: 250px;
	
}
